﻿@model C__project.Models.ShiftDto
@{
    ViewBag.Title = "Edit";
}

<h2>Shift Edit</h2>

<form method="POST" action="/Shift/Update/@Model.ShiftID">
    <input type="text" style="display:none;" name="ShiftId" value="@Model.ShiftID" />
    <div>
        <label>Day</label>
        <input type="text" name="Day" value="@Model.Day" />
    </div>
    <div>
        <label>Date:</label> <input type="date" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <label>StartTime:</label> <input type="datetime" name="StartTime" value="@Model.StartTime" />
    </div>
    <div>
        <label>EndTime:</label> <input type="datetime" name="EndTime" value="@Model.EndTime" />
    </div>

  
    <div>
        <input type="submit" value="Update" />
    </div>

</form>

<style>

    form div {
        margin-bottom: 10px;
    }

    label {
        display: inline-block;
        width: 6%;
    }


    form input[type="text"],
    form input[type="datetime"],
    form input[type="date"]
    {
        width: 70%;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    form input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #344E41;
        color: white;
        border: none;
        border-radius: 5px;
    }

        form input[type="submit"]:hover {
            background-color: #2E3D34;
        }
</style>